:root {
  --color-std: #d7fbe8;
  --color-p-light: #9df3c4;
  --color-p-mid: #62d2a2;
  --color-p-dark: #1fab89;
  --color-s-light: #fe346e;
  --color-s-dark: #b21f66;
  --swiper-theme-color: var(--color-p-dark);
}
$color-white: #fff;
$color-black: #232323;
$placeholder-color: #999;

$linear-gradient: linear-gradient(to right, rgba(#1fab89,0.5), rgba(#1fab89,0.5));
$linear-gradient-2: linear-gradient(to bottom, var(--color-p-light), var(--color-p-dark));

$radial-gradient: radial-gradient( var(--color-p-light), var(--color-p-mid), var(--color-p-dark));

$font-d: 'Nunito',sans-serif;
$font-s: 'Stoke',sans;
