//
.a-header{
    position: relative;
    min-height: 100vh;
    // background-color: var(--color-std);
    background-image: $linear-gradient !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center;
    // background-attachment: scroll;
}
.a-hero-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
    padding: 1rem 3rem;
}
.parallax-slider{
    top: 0 !important;
}
