//
.a-btn{
    padding: .5rem 1rem;
    background-color: var(--color-p-dark);
    color: $color-white !important;
    border-radius: 5px;
    transition: background .3s, color .3s, box-shadow .3s;
    &:hover{
        box-shadow: 1px .5rem 1rem rgba(0,0,0,.3);
    }
    &:after{
        height: 0;
    }
    &:hover:after{
        width: 0;
    }
}
