//
.a-heading{
    font-family: $font-s;
    font-weight: 800;
    text-transform: uppercase;
    margin: 3rem 0;
  &--1{
    color: $color-white;
    &--main{
      display: block;
      font-size: 2.5rem;
      letter-spacing: 1px;
    }
    &--sub{
      display: block;
      font-size: 4.5rem;
    }
  }
  &--2{
    font-size: 3rem;
    color: $color-black;
    // box-decoration-break: clone;
    &-alt{
      color: $color-white;
      font-size: 4rem;
    }
  }
  &--3{
    margin: 0;
    font-size: 2rem;
    letter-spacing: 2px;
    color: $color-black;
    &-alt{
      color: $color-white;
    }
  }
}

.a-paragraph{
  font-family: $font-d;
  color: $color-black;
  font-weight: 300;
  font-size: 1.9rem;
  padding: 1rem 8rem;
  letter-spacing: 1px;
  @include respond(tab){
    padding: .5rem;
  }
  &-alt{
    color: $color-white;
  }
}
em{
  font-family: 'Josefin Sans';
  font-weight: 300;
}